# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives :
1. Languages used
2. Libraries used
3. Tools used
4. Arithmetic Operations used

## Author
Name - Lakshmi Holla

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy

| Data Science Tools |
| -------------------|
| My Sql|
| Jupyter |
| RStudio |

Below are few examples of Evalusting Arithmetic Calculations in Python

In [20]:
1+1

2

In [22]:
3*3

9

In [24]:
(3*4)/4

3.0

In [26]:
(3*4)+5

17

In [28]:
#This will convert 200 min to hours
200/60

3.3333333333333335